# Prerequisites
*.d

#self
*.txt
*.xml

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.cmake
*.xml
cmake-build-debug/cn
cn
cmake-build-debug/*
.idea/*
.idea/workspace.xml
.idea/
cmake-build-debug

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea/workspace.xml
cmake-build-debug/cn
cmake-build-debug/cn
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.xml
.idea/workspace.xml
cmake-build-debug/CMakeFiles/Progress/2
cmake-build-debug/CMakeFiles/Progress/1
*.cmake
*.cmake
*.log
*.make
*.includecache
*.internal
*.rsp
cmake-build-debug/CMakeFiles/Makefile2 (1)
*.cbp
cmake-build-debug/Makefile (1)
*.ini
*.txt